<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}La Régie de quartier &laquo;Behren Insertion&raquo;
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}
		<link rel="icon" href="{{ asset('images/cropped-logo-banniere-180x180.png') }}"/>
		<link rel="apple-touch-icon" href="{{ asset('images/cropped-logo-banniere-180x180.png') }}"/>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script>
				document.addEventListener('alpine:init', () => {
Alpine.store('admin', {
sidebarOpen: false,
toggle() {
this.sidebarOpen = !this.sidebarOpen
},
close() {
this.sidebarOpen = false
}
})
})
			</script>
			<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{% if is_granted('ROLE_ADMIN') %}
			{% include '_partials/_admin_sidebar.html.twig' %}
		{% endif %}
		<div class="transition-all duration-300 ease-in-out" :class="$store.admin.sidebarOpen ? 'pl-64 max-w-[calc(100vw-256px)]' : ''">
			{% include '_partials/_nav.html.twig' %}

			{# Le contenu principal prend de la marge quand la sidebar est ouverte #}
			<div class="pt-60 min-h-[calc(100vh-262px)] flex justify-around">
                {% block body %}{% endblock %}
            </div>
            {% include '_partials/_footer.html.twig' %}
        </div>
    </body>
</html>
